@use 'config' as *;
.queen {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 2fr;
  }

  .queen-content {
    @media (min-width: $desktop) {
      margin-left: 35px;
    }
    a {
      color: $primary;
      text-decoration: underline;
    }
  }

  .queen-content__body {
    color: black;
  }

  .queen-content__heading {
    @media (min-width: $desktop) {
      line-height: 1;
    }
  }  

  .queen-image img {
    border-radius: 10px;
    width: 100%;
    max-height: 350px;
    margin-bottom: 25px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
  .queen-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}

.queens {
  color: $primary;
  padding: 30px 0;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    padding: 100px 0;
  }
  @media (min-width: $widescreen) {}
}

.queens_h1 {
  text-align: center;
  font-size: 2rem;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    font-size: 4.0625rem;
  }
  @media (min-width: $widescreen) {}
}

.queen-boxes {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    flex-flow: row;
  }
  @media (min-width: $widescreen) {}

  .queen-box {
    color: black;
    text-align: center;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    
  
    .queen-box__heading {
      margin-bottom: 25px;
    }
    
    .queen-box__image {
      margin-bottom: 30px;
      height: 300px;
      width: 300px;
      max-height: 100%;
      object-fit: cover;      
    }
  }
}



.service-cards-group {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: auto;
  max-width: 1240px;
  width: 100%;
}

.service-cards-group--two-col {
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  a {
    &:first-child {
      justify-self: self-end;
    }
  
    &:last-child {
      justify-self: self-start;
    }
  }
}

.service-cards-group--three-col {
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0
  }
}

.service-cards-group--five-col {
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px
  }
}

.single-service-card {
  border-radius: 50px;
  border: 5px solid black;
  box-shadow: var(--shadow);
  color: var(--site-main-color-brown);
  display: block;
  max-width: 300px;
  text-decoration: none;
  transition: transform 250ms;
  width: 100%;
  a {
    color: var(--site-main-color-brown);
  }

  &:visited {
    color: var(--site-main-color-brown);
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.single-service-card {
  align-items: center;
  border-radius: 4px;
  border: 4px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.single-service-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.single-service-card__heading {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}