@use 'config' as *;

.qs-and-as__categories-group {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto 30px;
  max-width: 655px;
  text-align: center;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    flex-flow: row;
  }
  @media (min-width: $widescreen) {}
}

.qs-and-as__category {
  text-transform: capitalize;
  a {
    color: var(--site-main-color-brown);
    text-decoration: none;
    &:hover {
      color: var(--site-secondary-color-brown);
    }
  }
}

.qs-and-as__group {
  margin-bottom: 40px;
}

.qs-and-as__heading {
  color: var(--site-main-color-brown);
  font-size: 2.375rem;
  margin-bottom: 25px;
  text-align: center;
}

.accordion {
  border-radius: 8px;
  box-shadow: 3px 3px 6px 0px #717171;
  margin: 0 auto 30px;
  max-width: 100%;
  width: 770px;
}

.accordion__question {
  align-items: center;
  background-color: $primary;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  height: 80px;
  justify-content: center;
  padding: 20px;
  @media (min-width: $desktop) {
    font-size: 1.375rem;
    padding: unset;
  }
}

.accordion__answer {
  display: none;
  padding: 22px 36px;
  p {
    font-weight: 400;
  }
}