@use 'config' as *;
.swiper {
  width: 100%;
}

.testimonials-slider {
  height: 625px;
  margin-top: 30px;
  @media (min-width: $tablet) {
    height: 430px;
  }
}

.testimonials-slider__image {
  border-color: $primary;
  border-radius: 100px;
  border-style: solid;
  border-width: 8px;
  display: block;
  height: 150px;
  margin-bottom: 30px;
  margin: 0 auto 20px;
  width: 150px;
}

.testimonials-slider__copy {
  font-weight: 500;
  margin: auto auto 10px auto;
  max-width: 700px;
  width: 100%;
}

.testimonials-slider__author {
  color: black;
  font-weight: 600;
}

.swiper-slide {
  font-size: 18px;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #727272;
  height: 15px;
  width: 15px;
}

.swiper-pagination-bullet-active {
  background: $primary;
  height: 15px;
  width: 15px;
}