$site-background: #F4F2E9;
$primary: #C69C6C;
$font: 'Ubuntu', sans-serif;
$widescreen: 1440px;
$desktop: 1024px;
$tablet: 768px;
$phone: 425px;
$widescreenContainer: 1044px;
$deskTopContainer: 950px;
$tabletContainer: 600px;
$phoneContainer: 281px;