*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #F4F2E9;
  font-family: "Ubuntu", sans-serif;
}

input[type=text] {
  border: solid black 2px;
  border-radius: 4px;
}

select {
  font: inherit;
  border: solid black 2px;
  border-radius: 4px;
  background: none;
}

ul {
  padding: 0;
}

h1, .h1 {
  color: #C69C6C;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  h1, .h1 {
    font-size: 4.0625rem;
  }
}
h2 {
  font-size: 1.75rem;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3.25rem;
  }
}
h3 {
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 3rem;
  }
}
h4 {
  font-size: 1.25rem;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 2.375rem;
  }
}
h5 {
  font-size: 1.125rem;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.5rem;
  }
}
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 1.25rem;
  }
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

figure {
  margin: 0;
}

.site-primary-color {
  color: #C69C6C;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}
.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 281px;
}
@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1044px;
  }
}

.interior-page-heading {
  margin-bottom: 30px;
  text-align: center;
}

.item {
  background: steelblue;
  border: skyblue 1px solid;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.button {
  align-items: center;
  align-self: flex-start;
  border: none;
  display: inline-flex;
  font-size: 1.25rem;
  height: 50px;
  justify-content: center;
  min-width: 200px;
  padding: 0 25px;
  margin: 0 auto 20px;
}
@media (min-width: 1024px) {
  .button {
    margin: 4px 10px 4px 0;
  }
}
.button:active {
  box-shadow: 0 0 0 white;
  margin: 6px auto 20px auto;
}
@media (min-width: 1024px) {
  .button:active {
    margin: 6px 10px 2px 0;
  }
}
.button--light {
  background: #C69C6C;
  box-shadow: 3px 3px 6px 0px #717171;
  color: black;
}

.button--dark {
  background: black;
  color: #C69C6C;
  box-shadow: 3px 3px 6px 0px #3b3b3b;
}

.inner-page {
  margin-top: 50px;
}

.center-text {
  text-align: center;
}

.desktop-navigation {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-navigation {
    display: flex;
    height: 200px;
    align-items: center;
  }
  .desktop-navigation .desktop-navigation__routes {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 55px;
  }
  .desktop-navigation .desktop-navigation__routes a {
    color: black;
    text-decoration: none;
  }
  .desktop-navigation .desktop-navigation__routes li:focus {
    color: var(--site-main-color-brown);
  }
  .desktop-navigation .desktop-navigation__routes li:focus .sub-menu {
    display: block;
  }
  .desktop-navigation .desktop-navigation__routes li:hover {
    color: var(--site-main-color-brown);
  }
  .desktop-navigation .desktop-navigation__routes li:hover .sub-menu {
    display: block;
  }
}
.desktop-navigation .desktop-navigation__site-logo {
  min-width: 160px;
  width: 200px;
}
.desktop-navigation .sub-menu {
  background: none;
  list-style-type: none;
}
@media (min-width: 1024px) {
  .desktop-navigation .sub-menu {
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 99999;
    width: max-content;
    background: #C69C6C;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .desktop-navigation .sub-menu a {
    color: black;
    text-decoration: none;
  }
  .desktop-navigation .sub-menu a:hover {
    color: black !important;
  }
}
.desktop-navigation .sub-menu li {
  padding: 10px 13px;
}

.mobile-navigation {
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}
.mobile-navigation .mobile-navigation__routes {
  background: #C69C6C;
  font-size: 24px;
  list-style: none;
  padding: 4px 0;
  display: none;
  margin-bottom: 30px;
}
.mobile-navigation .mobile-navigation__routes a {
  color: black;
  text-decoration: none;
}
.mobile-navigation .mobile-navigation__routes li {
  padding: 20px 0 15px 20px;
  list-style-type: none;
}
.mobile-navigation .mobile-navigation__routes li:first-child {
  border-top: none;
}
.mobile-navigation .icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.mobile-navigation .mobile-navigation__site-logo {
  margin: 30px auto 0;
}

.nav-icon4 {
  width: 45px;
  height: 3px;
  position: relative;
  margin: 30px 0 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 4 */
.nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 8px;
}

.nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}

.hero-slider {
  background: steelblue;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero-slider {
    height: 330px;
  }
}
.full-width-content {
  display: flex;
  flex-flow: column;
  padding: 30px 0;
  justify-content: center;
}
@media (min-width: 1024px) {
  .full-width-content {
    height: 400px;
  }
}
.content-with-image {
  background: #C69C6C;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .content-with-image {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .content-with-image {
    padding: unset;
  }
}
.content-with-image .content-with-image__container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 100%;
  width: 280px;
}
@media (min-width: 768px) {
  .content-with-image .content-with-image__container {
    width: 600px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .content-with-image .content-with-image__container {
    flex-flow: row;
    justify-content: space-between;
    width: 950px;
  }
}
@media (min-width: 1440px) {
  .content-with-image .content-with-image__container {
    width: 1044px;
  }
}
.content-with-image .content-with-image__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 450px;
}
@media (min-width: 1024px) {
  .content-with-image .content-with-image__content h2 {
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .content-with-image .content-with-image__content {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .content-with-image .content-with-image__content {
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.content-with-image .content-with-image__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-with-image .content-with-image__image--mobile {
  width: 425px;
  max-width: 100%;
  margin: auto;
}
@media (min-width: 1024px) {
  .content-with-image .content-with-image__image--mobile {
    display: none;
  }
}
.content-with-image .content-with-image__image--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .content-with-image .content-with-image__image--desktop {
    display: block;
  }
}
.queen {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .queen {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1024px) {
  .queen .queen-content {
    margin-left: 35px;
  }
}
.queen .queen-content a {
  color: #C69C6C;
  text-decoration: underline;
}
.queen .queen-content__body {
  color: black;
}
@media (min-width: 1024px) {
  .queen .queen-content__heading {
    line-height: 1;
  }
}
.queen .queen-image img {
  border-radius: 10px;
  width: 100%;
  max-height: 350px;
  margin-bottom: 25px;
}
@media (min-width: 1024px) {
  .queen .queen-image img {
    margin-bottom: 0;
  }
}
.queen .queen-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.queens {
  color: #C69C6C;
  padding: 30px 0;
}
@media (min-width: 1024px) {
  .queens {
    padding: 100px 0;
  }
}
.queens_h1 {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .queens_h1 {
    font-size: 4.0625rem;
  }
}
.queen-boxes {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .queen-boxes {
    flex-flow: row;
  }
}
.queen-boxes .queen-box {
  color: black;
  text-align: center;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.queen-boxes .queen-box .queen-box__heading {
  margin-bottom: 25px;
}
.queen-boxes .queen-box .queen-box__image {
  margin-bottom: 30px;
  height: 300px;
  width: 300px;
  max-height: 100%;
  object-fit: cover;
}

.service-cards-group {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: auto;
  max-width: 1240px;
  width: 100%;
}

@media (min-width: 1024px) {
  .service-cards-group--two-col {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.service-cards-group--two-col a:first-child {
  justify-self: self-end;
}
.service-cards-group--two-col a:last-child {
  justify-self: self-start;
}

@media (min-width: 1024px) {
  .service-cards-group--three-col {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
}

@media (min-width: 1024px) {
  .service-cards-group--five-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.single-service-card {
  border-radius: 50px;
  border: 5px solid black;
  box-shadow: var(--shadow);
  color: var(--site-main-color-brown);
  display: block;
  max-width: 300px;
  text-decoration: none;
  transition: transform 250ms;
  width: 100%;
}
.single-service-card a {
  color: var(--site-main-color-brown);
}
.single-service-card:visited {
  color: var(--site-main-color-brown);
}
.single-service-card:hover {
  transform: translateY(-10px);
}

.single-service-card {
  align-items: center;
  border-radius: 4px;
  border: 4px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.single-service-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.single-service-card__heading {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}

.swiper {
  width: 100%;
}

.testimonials-slider {
  height: 625px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .testimonials-slider {
    height: 430px;
  }
}

.testimonials-slider__image {
  border-color: #C69C6C;
  border-radius: 100px;
  border-style: solid;
  border-width: 8px;
  display: block;
  height: 150px;
  margin-bottom: 30px;
  margin: 0 auto 20px;
  width: 150px;
}

.testimonials-slider__copy {
  font-weight: 500;
  margin: auto auto 10px auto;
  max-width: 700px;
  width: 100%;
}

.testimonials-slider__author {
  color: black;
  font-weight: 600;
}

.swiper-slide {
  font-size: 18px;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #727272;
  height: 15px;
  width: 15px;
}

.swiper-pagination-bullet-active {
  background: #C69C6C;
  height: 15px;
  width: 15px;
}

.contact-us {
  padding: 80px 0;
}

.contact-us__heading {
  text-align: center;
}

.contact-information {
  grid-template-columns: 1fr;
  gap: 80px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .contact-information {
    display: grid;
  }
}
@media (min-width: 1440px) {
  .contact-information {
    margin-bottom: 150px;
    grid-template-columns: 1fr 1fr;
  }
}
.contact-information h5 {
  margin-bottom: 20px;
}

.contact-information__form {
  border-radius: 8px;
  max-width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 40px;
  width: 525px;
  /* This isn't great practice and a bit hacky */
}
@media (min-width: 1440px) {
  .contact-information__form {
    margin: unset;
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .contact-information__form .form-group__form-field {
    margin-left: auto;
    width: 227px;
  }
}
.contact-information__form .home-form {
  margin-bottom: 0;
}
.contact-information__form .button--green {
  background: var(--site-secondary-color-brown);
  color: var(--site-secondary-color-green);
}

.contact-information__options {
  margin: auto;
  max-width: 100%;
  width: 315px;
}
@media (min-width: 1440px) {
  .contact-information__options {
    margin-left: 0;
    width: 600px;
  }
}
.contact-information__options a {
  color: black;
  text-decoration: none;
}
.contact-information__options a:hover {
  color: var(--site-secondary-color-brown);
}

.contact-information__options__contact {
  align-items: flex-start;
  display: flex;
  gap: 15px;
}
.contact-information__options__contact img {
  width: 20px;
}
@media (min-width: 768px) {
  .contact-information__options__contact img {
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .contact-information__options__contact img {
    width: unset;
  }
}
.contact-information__options__contact p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .contact-information__options__contact p {
    font-size: 1.75rem;
  }
}

.review-platforms {
  display: flex;
  gap: 30px;
}
.review-platforms img {
  height: 138px;
  width: 138px;
}

.contact-information__options__contact {
  align-items: flex-start;
  display: flex;
  gap: 15px;
}

.footer {
  background: #C69C6C;
  display: flex;
  flex-flow: column;
  padding: 30px 0;
}
.footer .footer__content {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .footer .footer__content {
    flex-flow: row;
  }
}
.footer .footer__navigation {
  font-size: 24px;
  list-style-type: none;
  padding: 0;
  align-self: flex-start;
}
.footer .footer__navigation a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  .footer .footer__navigation {
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .footer .footer__navigation {
    font-size: 1.125rem;
    align-self: flex-start;
  }
}
.footer .footer__badge-container {
  display: flex;
}
@media (min-width: 1024px) {
  .footer .footer__badge-container {
    margin-left: 120px;
  }
}
.footer .footer__badge {
  padding: 20px;
  width: 160px;
}
@media (min-width: 1024px) {
  .footer .footer__badge {
    width: 200px;
  }
}
.footer .footer__logo {
  width: 200px;
}
@media (min-width: 1024px) {
  .footer .footer__logo {
    width: 260px;
  }
}
.footer .footer__credit {
  padding-top: 30px;
  text-align: center;
}
.footer .footer__credit a {
  text-decoration: none;
  color: black;
}

.wpcf7 .screen-reader-response {
  display: none;
}

.site-form-field-half {
  width: 210px;
  max-width: 100%;
  background: none;
  margin-bottom: 13px;
}

.site-form-field-whole {
  margin-bottom: 13px;
  background: white;
  width: 100%;
}

.contact-us__form {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  margin: auto;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .form-wrapper {
    margin: auto;
    width: 500px;
  }
}

.half-form-field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.half-form-field-group input {
  width: 240px;
  background: white;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .half-form-field-group input {
    width: 240px;
    max-width: 100%;
  }
}

.home-form-field-submit {
  align-items: center;
  align-self: flex-start;
  border: none;
  display: inline-flex;
  font-size: 1.25rem;
  height: 50px;
  justify-content: center;
  min-width: 200px;
  padding: 0 25px;
  background: #C69C6C;
  box-shadow: 3px 3px 6px 0px #717171;
  color: black;
}
@media (min-width: 1024px) {
  .home-form-field-submit {
    margin: 4px 10px 4px 0;
  }
}

.form-submit-button {
  text-align: center;
}

.wpcf7-spinner {
  display: none;
}

.review-cards {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  justify-content: center;
}
@media (min-width: 1024px) {
  .review-cards {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 32px;
  }
}

.review-card {
  width: 270px;
  border: solid;
  border-width: 2px;
  margin-top: 25px;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 0px #272727;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px auto;
  border-radius: 7px;
  min-height: 425px;
  border-color: #333333;
}
@media (min-width: 768px) {
  .review-card {
    width: 450px;
    border: solid;
    padding: 20px 30px;
  }
}
.review-card .review-card__image img {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.review-platforms {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.review-platforms .review-platform {
  width: 150px;
  max-width: 100%;
  margin: 20px;
}

.previous-litter-gallery {
  margin-top: 40px;
}

.previous-litters-group {
  margin-top: 40px;
}
.previous-litters-group img {
  margin: auto;
  max-width: 100%;
  width: 750px;
}

.photo-gallery {
  justify-content: center;
}
@media (min-width: 1024px) {
  .photo-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 580px);
    margin-top: 70px;
  }
}

.photo-gallery__group {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 470px;
}
@media (min-width: 768px) {
  .photo-gallery__group {
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .photo-gallery__group {
    display: unset;
    flex-flow: unset;
    height: 230px;
    margin: 100px auto;
  }
}

@media (min-width: 1024px) {
  .photo-gallery__group img {
    border-radius: var(--round-md);
    height: 220px;
    margin-bottom: unset;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    transition-delay: 200ms;
    transition: margin 0.2s ease-in-out;
    width: 250px;
  }
}

.photo-gallery__photo {
  border-radius: var(--round-md);
  height: 220px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: cover;
  width: 250px;
}
@media (min-width: 1024px) {
  .photo-gallery__photo {
    margin-bottom: unset;
    position: absolute;
    transition: margin 0.2s ease-in-out;
    transition-delay: 200ms;
  }
  .photo-gallery__photo:hover {
    margin-bottom: 100px;
  }
}
.photo-gallery__photo img {
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .photo-gallery__photo--1 {
    rotate: -18deg;
    transition: margin 0.2s ease-in-out;
    z-index: 1;
  }
  .photo-gallery__photo--1:hover {
    margin-top: -50px;
    transition-delay: 500ms;
  }
  .photo-gallery__photo--2 {
    bottom: 37px;
    left: 38px;
    rotate: -14deg;
    z-index: 2;
  }
  .photo-gallery__photo--3 {
    bottom: 46px;
    left: 93px;
    rotate: -7deg;
    z-index: 3;
  }
  .photo-gallery__photo--4 {
    bottom: 46px;
    left: 134px;
    rotate: 0deg;
    z-index: 4;
  }
  .photo-gallery__photo--5 {
    bottom: 20px;
    left: 181px;
    rotate: 10deg;
    z-index: 5;
  }
  .photo-gallery__photo--6 {
    bottom: -7px;
    left: 234px;
    rotate: 18deg;
    z-index: 6;
  }
}
.heading__photo-gallery {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .heading__photo-gallery {
    position: absolute;
    top: -130px;
  }
}

.site-banner {
  background: var(--site-secondary-color-brown);
  grid-column: 1/-1;
  margin-bottom: 20px;
  position: relative;
}
.site-banner img {
  filter: contrast(63%) grayscale(9%);
  height: 450px;
  margin: auto;
  min-width: 100%;
  object-fit: cover;
}
.site-banner .site-banner__emblem {
  filter: contrast(100%);
  height: 100%;
  object-fit: contain;
  padding: 14px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.qs-and-as__categories-group {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto 30px;
  max-width: 655px;
  text-align: center;
}
@media (min-width: 1024px) {
  .qs-and-as__categories-group {
    flex-flow: row;
  }
}
.qs-and-as__category {
  text-transform: capitalize;
}
.qs-and-as__category a {
  color: var(--site-main-color-brown);
  text-decoration: none;
}
.qs-and-as__category a:hover {
  color: var(--site-secondary-color-brown);
}

.qs-and-as__group {
  margin-bottom: 40px;
}

.qs-and-as__heading {
  color: var(--site-main-color-brown);
  font-size: 2.375rem;
  margin-bottom: 25px;
  text-align: center;
}

.accordion {
  border-radius: 8px;
  box-shadow: 3px 3px 6px 0px #717171;
  margin: 0 auto 30px;
  max-width: 100%;
  width: 770px;
}

.accordion__question {
  align-items: center;
  background-color: #C69C6C;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  height: 80px;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 1024px) {
  .accordion__question {
    font-size: 1.375rem;
    padding: unset;
  }
}

.accordion__answer {
  display: none;
  padding: 22px 36px;
}
.accordion__answer p {
  font-weight: 400;
}

.full-width-list {
  margin-bottom: 50px;
}
.full-width-list .paw-print-list {
  margin: auto;
}

.full-width-list__paw-print-list-container {
  margin-left: 38px;
}
@media (min-width: 1440px) {
  .full-width-list__paw-print-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: unset;
  }
}

.paw-print-list {
  margin-left: 38px;
  position: relative;
}
.paw-print-list li {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;
  max-width: 730px;
  list-style: none;
  text-align: left;
}
@media (min-width: 1440px) {
  .paw-print-list li {
    font-size: 1.5rem;
    max-width: 500px;
  }
}
.paw-print-list li::before {
  background-image: url(/wp-content/themes/stone-creek/assets/svgs/paw-print.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 25px;
  left: -35px;
  position: absolute;
  width: 30px;
}
@media (min-width: 768px) {
  .paw-print-list li::before {
    height: 26px;
    width: 37px;
  }
}
@media (min-width: 1024px) {
  .paw-print-list li::before {
    height: 37px;
    left: -48px;
    width: 42px;
  }
}
@media (min-width: 1440px) {
  .paw-print-list li::before {
    left: -35px;
  }
}

/*
Theme Name: Stone Creek
Text Domain: Stone Creek
Version: 1.0
Description: Custom theme for dog breader website
Tags: dogs
Author: Dylan Ramsey
Author URI: https://dylanbradramsey.com
*/

/*# sourceMappingURL=main.css.map */
